<!-- templates/add_recipe.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
</head>
<body>
    <h1>Add Recipe</h1>
    <form method="post">
        {{ form.csrf_token }}
        <label for="title">Title:</label>
        {{ form.title }}
        <br>
        <label for="ingredients">Ingredients:</label>
        {{ form.ingredients }}
        <br>
        <label for="instructions">Instructions:</label>
        {{ form.instructions }}
        <br>
        <input type="submit" value="Add Recipe">
    </form>
</body>
</html>
