{% extends "base.html" %}

{% block title %}
    Recipe List
{% endblock %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Ingredients</th>
                <th scope="col">Instructions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipies %}
            <tr>
                <th scope="row">{{ recipe.id }}</th>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.instructions }}</td>
                <td>
                    <a href="#" class="btn btn-primary btn-sm" role="button">Show Photo</a>
                    <a href="#" class="btn btn-success btn-sm" role="button">Edit</a>
                    <a href="{{ url_for('recipe_delete', recipe_id = recipe.id) }}" class="btn btn-danger btn-sm" role="button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}