<!-- templates/recipe_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Recipe List</h1>
        <a href="{{ url_for('add_recipe') }}">Add Recipe</a>
        <div class="recipe-container">
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <h3>{{ recipe.title }}</h3>
                    {% if recipe.image_path %}
                        <img src="{{ url_for('static', filename=recipe.image_path) }}" alt="{{ recipe.title }}" class="recipe-image">
                    {% endif %}
                    <p>Ingredients: {{ recipe.ingredients }}</p>
                    <p>Instructions: {{ recipe.instructions }}</p>
                </div>
                {% if loop.index % 3 == 0 %}
                    </div><div class="recipe-container">
                {% endif %}
            {% endfor %}
        </div>
        
    </div>
</body>
</html>
